@charset "utf-8";
/*
   Author: Kenneth Ochoa
   Date:   11/21/23
*/
 

/* Grid Structure */
body {    display: grid; grid-template-columns: 3fr 7fr 3fr; grid-template-areas: 
    "header header  header"   
    "navigate  navigate  navigate"  
    "leftContent main rightContent"      
    "footing  footing footing";
    grid-column-gap: 15px;
    grid-row-gap: 8%;
    grid-template-rows: 10% 8% 65% 10%;
}
/* Grid content locations */
body > header {    grid-area:header; 
}
body > article {grid-area: main;
}
body > aside {grid-area: rightContent;
}
body > section {grid-area: leftContent;
}
body > footer {grid-area: footing;
}
header > h1 { grid-area:header; text-align:center; margin-top:2%;
}
body > nav {grid-area:navigate; 

}
nav {grid-area:navigate;
   
}
/* Header styles */
h1 {
    font-family:cursive; color:rgb(2, 9, 72);
     background-color:rgb(243, 191, 33);
     font-size:60px;
     border-width:5px;
     border-style:groove;
     border-color:rgb(212, 166, 28);
}
h3 {font-family:Arial, Helvetica, sans-serif; text-align:center; font-size: 24px; color:rgb(3, 11, 90);
}
/*navigation, link, and list styles */

nav {color:rgba(228, 76, 195, 0.78); 
    text-align:center;
    background-color:rgb(228, 199, 113);
    font-size:25px;
    border-width:5px;
    border-style:groove;
    border-color:rgb(190, 165, 90);
    padding:10px
}
nav > a{color:rgb(3, 11, 90); font-family:Arial, Helvetica, sans-serif; text-decoration:none;

}
a{color:rgb(234, 77, 103); text-decoration: none;

}
ul{font-family:Arial, Helvetica, sans-serif; color:rgb(3, 11, 90); font-size:20px;

}

/*Body styles*/

body {background-color:rgb(110, 161, 243);

}


/*General content styles */
p {color: rgb(3, 11, 90);font-family:Arial, Helvetica, sans-serif;
}
article {background-color:rgb(228, 199, 113);
border-color:rgb(190, 165, 90);
border-style:groove;
border-width:5px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;

}
.centerP {text-align:center;color: rgb(3, 11, 90); font-family:Arial, Helvetica, sans-serif;
}
.sideText {font-size:20px ;}
article > h2 {font-family:Arial, Helvetica, sans-serif; text-align:center;color: rgb(3, 11, 90);
}
article > h4{font-family:Arial, Helvetica, sans-serif; text-align:center;color: rgb(3, 11, 90);

}
section {background-color:rgb(228, 199, 113);
    border-color:rgb(190, 165, 90);
    border-style:groove;
    border-width:5px;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    
    }
section > h4 {font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:17px;color: rgb(3, 11, 90);
}

aside {background-color:rgb(228, 199, 113);
    border-color:rgb(190, 165, 90);
    border-style:groove;
    border-width:5px;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
   
    }
aside > h4 {font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:17px; color: rgb(3, 11, 90);
}

/*Form styles */
form {font-size:80%; font-family:Arial, Helvetica, sans-serif; text-align:left;

}
label {color:rgb(3, 11, 90);font-family:Arial, Helvetica, sans-serif;

}
/*Image Gallery */
div.gallery {
    margin: 10px;
    border: 2px solid rgb(190, 165, 90);
    float: left;
    width: 225px;
  }
  
  div.gallery:hover {
    border: 2px solid #64dcf1;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size:13px;
  }


/*Accordion styles*/
.accordion {background-color:rgb(228, 199, 113); color:rgb(234, 77, 103); font-size:80%; 
  --bs-accordion-border-color: rgb(135, 117, 63);
}
.accordion-button:not(.collapsed){background-color:rgb(238, 199, 82); border-color:rgb(228, 199, 113);}
.accordion-body {background-color:rgb(234, 219, 173); color: rgb(3, 11, 90);font-size:80%; font-family:Arial, Helvetica, sans-serif;

}
.accordion-transition{background-color:rgb(238, 199, 82);  color: rgb(3, 11, 90);}
.accordion-button:focus{background-color:rgb(238, 199, 82); border-color:rgb(228, 199, 113); color:rgb(234, 77, 103);}
.accordion-button {color: rgb(3, 11, 90);background-color:rgb(238, 199, 82); border-color:rgb(251, 210, 88);
 
}

/*Card image styles */
.card-body {background-color: rgb(234, 219, 173); 
 
}
 .card-title {text-align:center; color:rgb(3, 11, 90); text-decoration:underline;}
.card {font-size:65%;color:rgb(3, 11, 90); }


/* footer styles */

footer {text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(3, 11, 90);
    background-color:rgb(228, 199, 113);
    font-size:25px;
    border-width:5px;
    border-style:groove;
    border-color:rgb(190, 165, 90);
    padding:10px
    
}


